a{
  color: var(--text-color);
  /*text-decoration: none;*/
  transition: text-decoration 300ms;
  text-decoration: underline;
  text-decoration-color: transparent;
}
a:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

.shadow{
  box-shadow: 0 0 29px 1px rgba(35, 41, 57, 0.12)
}
.App {
  padding: 15px 0 ;
  height: 100%;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100%;
}
:root {
  --border-radius: 16px;
  --button-border-radius: 8px;
  --button-bg-color: rgb(116, 141, 207);
  --line-bg-color: rgba(236, 241, 255, 0.94);
  --text-color: #272938;

  --blue-diagram-color:#6ECBED;
  --yellow-diagram-color:#FFF0BA;
  --grey-diagram-color:#DADFE9;
  --green-diagram-color:#A0E8D0;
  --orange-diagram-color:#F29B7F;
  --purple-diagram-color:#B7C8F4;
  --pink-diagram-color:#FFD2D2;
  --yellow-green-diagram-color:#DAFFAC;
}
::-webkit-scrollbar {
  width: 2px;

}

::-webkit-scrollbar-track {
  background: rgb(236, 241, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(183, 200, 244);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 56, 56, 0.5);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(56, 56, 56, 0.39);

}