/* @tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: var(--text-color);
  transition: text-decoration 300ms;
  text-decoration: underline;
  text-decoration-color: transparent;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

.shadow {
  box-shadow: 0 0 29px 1px rgba(35, 41, 57, 0.12);
}
.App {
  padding: 1rem 0;
  height: 100%;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 100%;
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --border-radius: 1rem;
  --button-border-radius: 0.5rem;
  --button-bg-color: rgb(116, 141, 207);
  --line-bg-color: rgba(236, 241, 255, 0.94);
  --text-color: #272938;

  --blue-diagram-color: #6ecbed;
  --yellow-diagram-color: #fff0ba;
  --grey-diagram-color: #dadfe9;
  --green-diagram-color: #a0e8d0;
  --orange-diagram-color: #f29b7f;
  --purple-diagram-color: #b7c8f4;
  --pink-diagram-color: #ffd2d2;
  --yellow-green-diagram-color: #daffac;
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgb(236, 241, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(183, 200, 244);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 56, 56, 0.5);
}
::placeholder {
  color: rgba(56, 56, 56, 0.39);
} */